:root {
    --very-light-pink: #C7C7C7;
    --white: #fff;
    --black: 000000;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --hospital-green-hover: #7b997f;
    --dark: #232830;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

.login {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    height: 90vh;
}

.logo {
    width: 200px;
    margin: 30px auto;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.label {
    margin-top: 10px;
    font-weight: bold;
    font-size: var(--sm);
}

.input {
    border: none;
    border-radius: 8px;
    background-color: var(--text-input-field);
    height: 30px;
    padding: 5px;
}

.button {
    border:none;
    margin-top: 30px;
    border-radius: 8px;
    height: 48px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--hospital-green-hover);
    color: var(--white);
}

.primary-button {
    background-color: var(--hospital-green);
    color: var(--white);
}

.form a {
    text-decoration: none;
    font-size: var(--sm);
    color: var(--hospital-green);
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}


.secondary-button {
    border: solid 1px var(--hospital-green);
    background-color: white;
    color: var(--hospital-green);
    font-weight: 500;
}


@media (max-width: 350px ) {
    .logo {
        display: block;
    }
}